<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block head %}{% endblock %}
</head>
<body>

    <nav class="navbar bg-mainbar navbar-light navbar-expand-md fixed-top" id="navBar">
        <a href="/" id="title">Tasks</a>
        <form action="/" method="POST" id="nav-form">
            <input type="text" name="content" id="content">
            <button type="submit button" class="btn btn-danger">Add NEW TASK</button>
        </form>
        
        <!-- <button type="button" class="navbar-toggler navbar-toggler-right" data-toggle="collapse" data-target="#navbarNav"
            id="nav-nar-toggler">
            <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-nav ml-auto" id="navScrollspy">
                <div *ngIf="auth.isAdmin(user)">
                    <li class="nav-item">
                        <a data-scroll class="nav-link mr-3"><img src="./../../assets/img/adminIcon.png" width="40"
                                hight="40" class="mr-2 ml-1" alt="" (click)="goAdmin()" /></a>
                    </li>
                </div>
                <li class="nav-item">
                    <a data-scroll class="nav-link mr-3"><img src="./../../assets/img/cart.png" width="40" hight="40"
                            class="mr-2 ml-1" alt="" (click)="goCart()" /></a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link mr-3"><img src="./../../assets/img/history.png" width="40" hight="40"
                            class="mr-2 ml-1" alt="" (click)="goHistory()" /></a>
                </li>
                <li class="nav-item">
                    <a data-scroll class="nav-link mr-3"><img src="./../../assets/img/dors.png" width="40" hight="40"
                            class="mr-2 ml-1" alt="" (click)="logout()" /></a>
                </li>
            </ul>
        </div> -->
    </nav>

    {% block body %}{% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>