{% extends 'base.html' %}

{% block head %}
<title>Todo list</title>
{% endblock %}

{% block body %}

{% if session['login'] %}

<div id="content">
    {% if todos|length < 1 %}
    <div class="margin-under-nav" id="empty-case">There are no todos created. Create one.</div>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Actions</th>
        </tr>
        {% for todo in todos %}
            <tr>
                <td>
                    {{todo}}
                </td>
                <td>
                    <a class="btn btn-danger" href="/delete/{{todo}}" role="button">Delete</a>
                    <a class="btn btn-warning" href="/update/{{todo}}" role="button">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>

{% else %}
<div class="margin-under-nav">
    <h1>You are not loged in</h1>
</div>
{% endif %}

{% endblock %}
