{% extends 'base.html' %}

{% block head %}
<title>Todo list</title>
{% endblock %}

{% block content %}

{% block body %}
<div id="content">
    <h1>Todos:</h1>
    {% if todos|length < 1 %}
    <div id="empty-case">There are no todos created. Create one down below.</div>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Actions</th>
        </tr>
        {% for todo in todos %}
            <tr>
                <td>
                    {{todo}}
                </td>
                <td>
                    <a class="btn btn-danger" href="/delete/{{todo}}" role="button">Delete</a>
                    <a class="btn btn-warning" href="/update/{{todo}}" role="button">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

    <!-- <form action="/" method="POST" id="form">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add todo">
    </form> -->
    
</div>
{% endblock %}

{% endblock %}
